
@font-face {
    font-family: "DotGothic";
    font-style: normal;
    src: url("/fonts/DotGothic.ttf");
    }

@font-face {
    font-family: "Handjet";
    font-style: normal;
    src: url("/fonts/Handjet.ttf");
    }

html {
    background-color: rgb(229, 230, 248);
}

::selection {
    color: blue;
}

h1 {
    font-family: Handjet;
    font-weight: 180;
    color: darkblue;
}

h3 {
    color: darkblue;
}

p {
    color: darkblue;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: red;
}

.text-container{
    position:absolute;
    width:70%;
    left: 15%;
    top: 30%;
    font-family: DotGothic;
    /* text-align: center; */
  }

